.nav-stacked{
	margin-top: 1%;
}
.mainHeader{
	color: #e6ffe6;
	text-shadow: 1px 1px black, -.25px -.25px black;
}
.homePageDescription{
	margin-left: 24%;
	margin-top: 2%;
}
.icon-bar{
	background-color: black;
}
#myNavbar{
	float: left;
	clear: both;
}
.navbar-toggle{
	float: left;
}
footer{
	margin-top: 20%;
}