html{
	background: url('../img/lingoBackground1.jpg');
	background-size: 100%;
	font-family: 'Raleway', sans-serif;
}
body{
	background-color: black;
}
aside{
	background-color: black;
}
li{
	border-bottom: 1px solid white;
	padding-bottom: 13%;
}
.rowText{
	background: rgba(0, 0, 0, 0.5);
    padding: 3%;
    border-radius: 3%;
}
.loginContainer{
	margin-top: 2%;
}
li a {
	color: white;
}
a:hover{
	color: white;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}
.sideMenu{
	height: 681px;
	background: black;
	padding: 0px !important;
	margin-left: -2%;
	width: 10.2%;
}
.nav-stacked{
	margin-top: 1%;
}
.mainHeader{
	font-family: 'Raleway', sans-serif;
	color: white;
	text-shadow: 1px 1px black, -.25px -.25px black;
	font-size: 45px;
	font-weight: 900;
	margin-left: 36%;
}
.subHeader{
	font-size: 30px;
	color: white;
}
.registerPage{
	margin-top: 2%;
}
.submitBtn{
	margin-left: 33%;
}
.homePageDescription{
	margin-left: 24%;
	margin-top: 2%;
	font-size: 20px;
	color: white;
}
.icon-bar{
	background-color: black;
}
#myNavbar{
	float: left;
	clear: both;
}
.navbar-toggle{
	float: left;
}
footer{
	margin-top: 2%;
}
.aboutContainer{
	margin-top: 4%;
	font-size: 20px;
}
.registerBtn, .loginBtn{
	float: right;
	margin-left: .25%;
}
.black{
	-webkit-text-stroke-width: .25px;
	-webkit-text-stroke-color: white;
}
.aboutLingo{
	color: white;
}
.abouth1{
	font-size: 36px;
	color: white;
}
li .active{
	background: blue;
}
.languagesHeader{
	color: white;
}
.languageOptions{
	font-size: 20px;
	list-style: none;
	margin-top: 2%;
	float: left;
}
.languageContainer{
	color: white;
}
.languageContainer a{
	color: white;
}
.languageUl{
	margin-top: 2%;
	float: left;
}
.lessonLinks{
	font-size: 20px;
	list-style: none;
	margin-top: 2%;
	float: right;
}
.ukrainianLessonCategories{
	margin-top: 5%;
}
.ukrainianHeader{
	color: white;
}
.ukrainianHeader a{
	color: white;
}

.listOfLessons li{
	list-style: none;
	font-size: 20px;
	float: left;
	margin-top: 5%;
}
.biggerLetter{
	font-size: 19px;
}
th{
	padding-top: 2%;
}
.blue{
	color: blue;
}
.red{
	color: red;
}
.white{
	color: white;
	-webkit-text-stroke-width: .75px;
	-webkit-text-stroke-color: black;
}
.yellow{
	color: yellow;
	-webkit-text-stroke-width: .75px;
	-webkit-text-stroke-color: black;
}
.green{
	color: green;
}
.brown{
	color: brown;
}
.orange{
	color: orange;
}
.purple{
	color: purple;
}
.lightBlue{
	color: #66ccff;
}
.darkRed{
	color: #cc0000;
}
.orderButton{
	margin-left: 67%;
	margin-top: 5%;
}
.greetingsButton{
	margin-left: 63%;
	margin-top: 5%;
}
.greetingsHeader{
	color: white;
}
.glyphicon{
	color: black;
}
.vocab{
	color: white;
}
.greetingLesson{
	color: white;
}
.introductionsLesson{
	color: white;
}
.colorsButton{
	margin-left: 66%;
	margin-top: 5%;
}
.daysButton{
	margin-left: 67%;
	margin-top: 5%;
}
.numbersButton{
	margin-left: 63%;
	margin-top: 5%;
}
.numberLesson{
	color: white;
}
.daysLesson{
	color: white;
}
.introductionsButton{
	margin-left: 63%;
	margin-top: 5%;
}
.navigationButton{
	margin-left: 63%;
	margin-top: 5%;
}
.contributeText{
	margin-top: 4%;
	font-size: 20px;
}
.navigationLesson{
	color: white;
}
.contactButton{
	margin-left: 72%;
	margin-top: -55%;
	width: 22.6%;
}
.messageInput{
	margin-left: 27%;
}
.pink{
	color: #ff66cc;
}
.name{
	margin-top: -46%;
	margin-left: 32.3%;
}
.email{
	margin-top: -40%;
	margin-left: 32.5%;
}
.ukrFlag{
	width: 15%;
	margin-top: 6%;
}
.russFlag{
	width: 15%;
	border: 1px solid black;
	margin-top: 6%;
}
.spainFlag{
	width: 15%;
	margin-top: 6%;
}
.italFlag{
	width: 15%;
	margin-top: 6%;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

@media (max-width: 767px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
body{
	background-color: none;
}
.navbar-toggle{
	background-color: #eee;
	left: 56px;
}
.sideMenu{
	background-color: transparent;
}
.slide{
	background: rgba(0, 0, 0, 0.5);
}
.homePageDescription{
	margin-top: -75%;
	margin-left: 19%;
}
.mainHeader{
	font-size: 61px;
	margin-left: 25%;
	position: absolute;

}
.subHeader{
	position: absolute;
	top: 14%;
	left: 50%;
}.mobileLanguages{
	left: 44%;
	top: -643px;
}
.languageHeader{
	position: relative;
	left: 34%;
	top: -12px;
}
.listOfLessons{
	position: relative;
	margin-left: 3%;
	float: left;
}
.colorsMobile{
	left: -54%;
}
.daysMobile{
	left: 25%;
	top: -67px;
}
.orderingMobile{
	left: 35%;
	top: -93px;
}
.navigatingMobile{
	top: -15px;
	left: -57%;
}
.barSceneMobile{
	left: -32.5%;
	top: -92px;
}
.jokesMobile{
	left: 54.5%;
	top: -160px;
}
}
