.nav-stacked{
	margin-top: 1%;
}
.mainHeader{
	color: #e6ffe6;
	text-shadow: 1px 1px black, -.25px -.25px black;
	font-size: 45px;
}
.subHeader{
	font-size: 30px;
}
.homePageDescription{
	margin-left: 24%;
	margin-top: 2%;
	font-size: 20px;
}
.icon-bar{
	background-color: black;
}
#myNavbar{
	float: left;
	clear: both;
}
.navbar-toggle{
	float: left;
}
footer{
	margin-top: 20%;
}
.aboutContainer{
	margin-top: 4%;
	font-size: 20px;
}
.abouth1{
	font-size: 36px;
}
li .active{
	background: blue;
}
.languageOptions{
	font-size: 20px;
	list-style: none;
	margin-top: 2%;
	float: left;
}
.languageUl{
	margin-top: 2%;
	float: left;
}
.lessonLinks{
	font-size: 20px;
	list-style: none;
	margin-top: 2%;
	float: right;
}
.ukrainianLessonCategories{
	margin-top: 5%;
}
.listOfLessons li{
	list-style: none;
	font-size: 20px;
	float: left;
	margin-top: 5%;
}
.biggerLetter{
	font-size: 19px;
}
th{
	padding-top: 2%;
}
.blue{
	color: blue;
}
.red{
	color: red;
}
.white{
	color: white;
	-webkit-text-stroke-width: .75px;
	-webkit-text-stroke-color: black;
}
.yellow{
	color: yellow;
	-webkit-text-stroke-width: .75px;
	-webkit-text-stroke-color: black;
}
.green{
	color: green;
}
.brown{
	color: brown;
}
.orange{
	color: orange;
}
.purple{
	color: purple;
}
.lightBlue{
	color: #66ccff;
}
.darkRed{
	color: #cc0000;
}
.orderButton{
	float: right;
	margin-top: 5%;
}
.greetingsButton{
	float: right;
	margin-top: 5%;
}
.colorsButton{
	float: right;
	margin-top: 5%;
}
.daysButton{
	float: right;
	margin-top: 5%;
}
.numbersButton{
	float: right;
	margin-top: 5%;
}
.introductionsButton{
	float: right;
	margin-top: 5%;
}